.navigation{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 600px;
}

.navigationItem{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: solid rebeccapurple 2px;
    background-color: white;
    color: rebeccapurple;
    border-radius: 5px;
}


.activeItem{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
}