.row{
    margin: 20px;
}
.values{
    display: inline;
}

.entryValue{
    font-size: 20px;
    background-color: cornflowerblue;
    color: white;
    width: fit-content;
    min-width: 200px;
    text-align: center;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
}

.key{
    font-size: 20px;
    background-color: orange;
    color: white;
    width: fit-content;
    min-width: 200px;
    text-align: center;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
}

